* {
  margin: 0;
}

.App {
  background: #111;
  color: white;
}
.list {
  margin-top: -150px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  padding: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.582);
}
.copyright a {
  color: rgb(128, 190, 240);
  text-transform: capitalize;
}
